*
{
    outline: none;
}

.h1
{
    font-family:Arial, sans-serif !important;
    font-weight: 700;
    font-size: 33px;
}

.nav-links li
{
    display: inline;
    list-style: none;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 30px;
    cursor: pointer;
    padding: .5rem 0;
}

.nav-links li:hover
{
    border-bottom: 3px solid #000;
}

.nav-links li a
{
    color: #000;
}

svg
{asdadasda
    padding-left: 44.5%;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
}

.nav-layer
{
    width: 100%;
    height: 1520px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999999999999 !important;
    position: absolute;
}

.white-box
{
    width: 50%;
    height: 500px;
    background: #FFF;
    border-radius: 15px;
    position: absolute;
    top: 8%;
    left: 25%;
}

svg:hover
{
    text-decoration: none;
}

.index-header
{
    background-image: url(../assets/header-background.jpg);
    background-position: center;
    position: relative;
    height: 600px;
}

.header-content
{
    position: absolute;
    top: 25%;
    left: 25%;
}

.layer
{
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}

.header-content h1
{
    font-family:"Patua One" !important;
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 25px;
    color: #FFF;
}

.header-content p
{
    width: 80% !important;
    margin: auto;
    margin-bottom: 25px;
    color: rgb(151, 151, 151);
    font-size: 19px;
}

.header-content button
{
    width: 180px;
    height: 50px;
    background-color: rgb(31, 31, 31);
    border-radius: 0;
    font-size: 14px !important;
    outline: none;
    color: #FFF;
    font-weight: 500;
    border: 0;
    transition: all .2s ease-in;
}

.header-content button:hover
{
    background-color: rgb(39, 39, 39);
}







.intro
{
    margin: 150px 0 0 150px;
}

.intro h1
{
    margin-bottom: 25px;
    width: 90%;
}

.intro p
{
    font-size: 19px;
    width: 99%;
    color: rgb(99, 99, 99);
    font-family: "Open Sans" !important;
}

.intro button
{
    border: 2px solid #000;
    font-size: 13px !important;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #FFF;
    transition: all .4s ease-in-out;
    margin-top: 30px;
    outline: none;
}

.intro button:hover
{
    background-color: #000;
    color: #FFF;
}








.owners
{
    height: 900px;
    background-image: url(../assets/1774823078.jpg);
    background-repeat: space;
    background-position: 100% 0%;
    background-size: cover;
}

.owners h1
{
    color: #FFF;
    text-align: center;
    margin: 40px 0 80px 0;

}

.owners h5
{
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
}

.owners span
{
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
    display: inline;
    font-weight: 700;
}

.owners p
{
    text-align: center;
    color: #FFF;
    font-size: 18px;
    width: 71%;
    margin: 0 auto 50px auto;
    line-height: 160%;
}









.cutter
{
    margin-top: 100px !important;
    margin-bottom: 40px !important;
    width: 40px !important;
    display: block;
    margin: auto;
}

.gallery h1
{
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}

.gallery table tr td img
{
    width: 200px;
}

.gallery table
{
    margin-left: 25%;
    margin-right: 25%;
}







.location
{
    margin-top: 200px;
    background-image: url(../assets/496065706.jpg);
}

.location p
{
    color: #FFF;
    font-size: 18px;
    width: 82%;
}

.location h6
{
    color: #FFF;
    font-size: 19px;
}








/* services */




.services-header
{
    background-image: url(../assets/960783799.jpg);
    background-size: cover;
    background-position: 100% 70%;
    background-repeat: space;
    height: 300px;
    width: 100%;
}

.services-content
{
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
}

.services-header h1
{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.services-header p
{
    font-size: 22px;
    width: 99%;
    color: rgb(199, 199, 199);
    margin-top: 20px;
    text-align: center;
}









.desc h1
{
    margin-top: 100px;
    font-size: 35px;
    text-align: center;
}

.desc p
{
    color: rgb(99, 99, 99);
    width: 41%;
    text-align: center;
    margin: auto;
    font-size: 17px;
}

.desc .container .row .col-md-6 h1.h1
{
    font-size: 26px;
}

.price
{
    font-size: 40px !important;
    font-weight: 700;
}

.desc button
{
    border: 2px solid #000;
    font-size: 16px !important;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #FFF;
    transition: all .4s ease-in-out;
    margin-top: 75px;
    margin-bottom: 75px;
    outline: none;
}

.desc button:hover
{
    background-color: #000;
    color: #FFF;
}

.w-80
{
    width: 76.5%;
}

.w-80 img
{
    height: 90%;
    margin-bottom: 75px;
}

.lie
{
    width: 46% !important;
}






/* ABOUT PAGE */



.about-header
{
    background-image: url(../assets/572530976.jpg);
    background-size: cover;
    background-position: 100% 41%;
    background-repeat: space;
    height: 300px;
    width: 100%;
    position: relative;
}

.about-header-content
{
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.about-header h1
{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.about-header p
{
    font-size: 22px;
    width: 99%;
    color: rgb(199, 199, 199);
    margin-top: 20px;
    text-align: center;
}








.about-content h1
{
  margin-top: 100px !important;
}

.about-content p
{
  width: 44% !important;
  color: rgb(99, 99, 99);
}






.about-gallery p
{
  color: rgb(90,90,90);
  width: 48.7%;
  font-size: 18px;
  margin-top: 75px !important;
}








/* UPDATES PAGE */

.blog
{
  margin-left: 15%;
  margin-right: 15%;
}

.blog p
{
  font-size: 18.1px;
}





/* contact PAGE */




h1.h1:nth-child(2)
{
  margin-top: 100px;
}

body:nth-child(2)
{
  font-size: 17px
}


.contact-form
{
    background: #fff;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control
{
    border-radius:1rem;
}


.contact-form form .row
{
    margin-bottom: -7%;
}

.contact-form .btnContact
{
    width: 17%;
    border: none;
    border-radius: 6px;
    padding: 1%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
}
