<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../src/styles/all.min.css">
    <link rel="stylesheet" href="../src/styles/font-awesome.min.css">
    <link rel="stylesheet" href="../src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../src/styles/style.css">
</head>
<body>

    <nav>
        <img src="../src/assets/southcorner-logo.png" class="d-block mx-auto my-4" alt="">
        <div>
            <ul class="nav-links text-center border py-2 mb-0">
                <li><a href="index.html">HOME</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="updates.html">UPDATES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>


    <header class="about-header">
        <div class="about-header-content">
            <h1 class="h1 text-light">ABOUT</h1>
            <p>To edit, simply click directly on the text and add your own words.</p>
        </div>
    </header>

    <section class="about-content">
      <h1 class="h1 text-center mt-5">OUR BEGINNINGS WERE HUMBLE</h1>
      <p class="text-center mx-auto mt-4">Edit this text and tell your site visitors who you are. To edit, simply click directly on text and add your own words. Use this text to go into more detail about your company. Make sure to include information about how your company came to be.</p>
      <p class="text-center mx-auto my-5">want to know more about a company. Make this text focused, direct, and. Tell the users how the company was started, what the team looks like, ​and some of your core values.</p>
    </section>

    <section class="about-gallery">
      <img src="../src/assets/icon_orig.png" class="mx-auto d-block mb-5" alt="">
      <h1 class="h1 text-center mb-5">THE BARBERS</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="float-right">
              <img src="../src/assets/carter.png" class="mx-auto" alt="">
              <h3 class="text-center mt-3">CARTER</h3>
            </div>
            <span class="clearfix"></span>
          </div>

          <div class="col-md-6 p-0">
            <div class="float-left">
              <img src="../src/assets/sam-o.png" class="mx-auto" alt="">
              <h3 class="text-center mt-3">CARTER</h3>
            </div>
            <span class="clearfix"></span>
          </div>
        </div>
      </div>
      <p class="mt-3 text-center d-block mx-auto">Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with more than one paragraph for ​better readability.</p>
    </section>

    <script src="../src/styles/fontawesome-free-5.15.1-web/js/solid.min.js"></script>
    <script src="../src/scripts/bootstrap.min.js"></script>
    <script src="../src/scripts/jquery-3.4.1.min.js"></script>
    <script src="../src/scripts/script.js"></script>
</body>
</html>
