<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updates</title>
    <link rel="stylesheet" href="../src/styles/all.min.css">
    <link rel="stylesheet" href="../src/styles/font-awesome.min.css">
    <link rel="stylesheet" href="../src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../src/styles/style.css">
  </head>
  <body>

    <nav>
        <img src="../src/assets/southcorner-logo.png" class="d-block mx-auto my-4" alt="">
        <div>
            <ul class="nav-links text-center border py-2 mb-0">
                <li><a href="index.html">HOME</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="updates.html">UPDATES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="h1 text-center mb-5">WE’RE RIGHT NEAR YOU</h1>

    <p class="text-center text-muted">1332 West Gore Steet
      <br/>
      Suite, 101
      <br/>
      Orlando, FL 33871
    </p>

    <iframe class="w-75 container d-block mx-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55269.15404948017!2d31.3232316021264!3d30.02761502350461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e9ac4fe060a6042!2sSohba%20Story!5e0!3m2!1sar!2seg!4v1610406229505!5m2!1sar!2seg" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <h1 class="h1 my-5 text-center">HAVE A QUESTION?</h1>
    <div class="container contact-form">
                <form method="post">
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btnContact mx-auto mt-3"/>
                    </div>
                </form>
    <script src="../src/styles/fontawesome-free-5.15.1-web/js/solid.min.js"></script>
    <script src="../src/scripts/bootstrap.min.js"></script>
    <script src="../src/scripts/jquery-3.4.1.min.js"></script>
    <script src="../src/scripts/script.js"></script>
</body>
</html>
