<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Southcorner</title>
    <link rel="stylesheet" href="../src/styles/all.min.css">
    <link rel="stylesheet" href="../src/styles/font-awesome.min.css">
    <link rel="stylesheet" href="../src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../src/styles/style.css">
</head>
<body>

    <nav>
        <img src="../src/assets/southcorner-logo.png" class="d-block mx-auto my-4" alt="">
        <div>
            <ul class="nav-links text-center border py-2 mb-0">
                <li><a href="index.html">HOME</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="updates.html">UPDATES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <header class="index-header">
        <div class="layer"></div>
        <div class="header-content text-center w-50 mx-auto">
            <h1>THE GENTLEMEN'S ​BARBERSHOP</h1>
            <p>Edit this text and tell your site visitors who you are. To edit, ​simply click directly on the text and add your own words.</p>
            <button class="">SEE OUR SHOP</button>
        </div>
    </header>

    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../src/assets/01.png" class="mb-5" alt="">
                    <h1 class="h1">WELCOME TO ​SOUTHCORNER</h1>
                    <p class="mb-5">Southcorner barbershop was established in 2001. We cater soley to males that are looking for upscale hair treatments. Out premium services provide men of all ages, that flawless look.</p>
                    <p>We offer our clients a wide range of services from straight razor shaving, hair styling, beard grooming and even eyebrow trimming. Our retro style shop gives men the opportunity to have their hair treated by professionals that know men's hair.</p>
                    <button>SCHEDULE APPOINTMENT</button>
                </div>
                <div class="col-md-6">
                    <img src="../src/assets/brush-large_orig.png" class="h-75" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="owners">
        <img src="../src/assets/02.png" class="d-block pt-5 mx-auto" alt="owners">
        <h1 class="h1">MEET THE OWNERS</h1>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>JONATHAN JONES</h5>
                    <p>From the depths of New York City, Jonathan has over 14 years of experience in men's grooming. Starting out from a small shop in Queens, he grew to a very solid barber.</p>
                    <p>Age   <span>33</span></p>
                    <p>Experience   <span>14 Years</span></p>
                    <p>Clipping Style   <span>Straight Razor</span></p>
                    <p>Facial Hair   <span>Bearded Up</span></p>
                </div>

                <div class="col-md-6">
                    <h5>MIKAH MILLER</h5>
                    <p>With 19 years of experience grooming distinguished gentlemen, Mikahbrings a level of premium quality to a whole new high. Mikah comes from a family of barbers.</p>
                    <p>Age  <span> 38</span></p>
                    <p>Experience   <span>19 Years</span></p>
                    <p>Clipping Style   <span>Scissor Cut</span></p>
                    <p>Facial Hair   <span>Bearded Up</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <img src="../src/assets/scissor_orig.png" class="cutter" alt="">
        <h1 class="h1">SHOP GALLERY</h1>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="d-block mb-4 mr-4"><img src="../src/assets/mos01-orig_orig.jpeg" alt=""></div>
                        <div class="d-block mb-4 mr-4"><img src="../src/assets/mos2-orig_orig.jpeg" alt=""></div>
                        <div class="d-block mr-4"><img src="../src/assets/mos03-orig_orig.jpeg" alt=""></div>
                    </td>
                    <td>
                        <div class="d-block mb-4 mr-4"><img src="../src/assets/mos4-orig_orig.jpeg" alt=""></div>
                        <div class="d-block mr-4"><img src="../src/assets/mos5-2_5_orig.jpg" alt=""></div>
                    </td>
                    <td>
                        <div class="d-block"><img src="../src/assets/mos6-2_2_orig.jpg" alt=""></div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </section>

    <section class="location">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="h1 text-light mb-5 pt-5">LOCATION & HOURS</h1>
                    <p class="mb-5">Experience the ultimate grooming style at Southcorner Barbershop. Our barbers know men's hair, and they know style. We're located in the heart of downtown Orlando, Florida.</p>
                    <h6>​SOUTHCORNER BARBERSHOP</h6>
                    <p>​1332 West Gore Street</p>
                    <p>Suite, 101</p>
                    <p class="mb-5">​Orlando, FL 33871</p>
                    <h6>​MONDAY - SATURDAY</h6>
                    <p class="mb-5">9am - 7pm</p>
                    <h6>​SUNDAY</h6>
                    <p>Closed</p>
                </div>
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229787.82852919007!2d31.462369276583324!3d30.01384395479279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583cdd9f1b7bb9%3A0xdd4a9a49f1779d41!2sMicrosoft!5e0!3m2!1sar!2seg!4v1609683550015!5m2!1sar!2seg" width="600" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mt-5"></iframe>
                </div>
            </div>
        </div>
    </section>

    
    <script src="../src/styles/fontawesome-free-5.15.1-web/js/solid.min.js"></script>
    <script src="../src/scripts/bootstrap.min.js"></script>
    <script src="../src/scripts/jquery-3.4.1.min.js"></script>
    <script src="../src/scripts/script.js"></script>
</body>
</html>