<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet" href="../src/styles/all.min.css">
    <link rel="stylesheet" href="../src/styles/font-awesome.min.css">
    <link rel="stylesheet" href="../src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../src/styles/style.css">
</head>
</head>
<body>

    <nav>
        <img src="../src/assets/southcorner-logo.png" class="d-block mx-auto my-4" alt="">
        <div>
            <ul class="nav-links text-center border py-2 mb-0">
                <li><a href="index.html">HOME</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="updates.html">UPDATES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>


    <header class="services-header">
        <div class="services-content">
            <h1 class="h1 text-light">SERVICES</h1>
            <p>To edit, simply click directly on the text and add your own words.</p>
        </div>
    </header>

    <section class="desc">
        <h1 class="h1">WE’RE A FULL SERVICE ESTABLISHMENT</h1>
        <p>Southcorner barbershop was established in 2001. We cater soley to males that are looking for upscale hair treatment. Our premium services provide men of ​all ages, that flawless look.</p>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="h1">SHAVE & HAIRCUT</h1>
                    <h1 class="mt-1 price">$55</h1>
                    <p>Edit this text to make it your own. To edit, simply click directly on the text to start ​adding your own words.</p>
                </div>

                <div class="col-md-6">
                    <h1 class="h1">WASH & HAIRCUT</h1>
                    <h1 class="mt-1 price">$45</h1>
                    <p>Edit this text to make it your own. To edit, simply click directly on the text to start ​adding your own words.</p>
                </div>
            </div>
        </div>
        <button class="d-block mx-auto">SCHEDULE AN APPOINTMENT</button>

            <div class="mx-auto d-block w-80">
                <img src="../src/assets/services-1_orig.png" class="d-inline mr-2" alt="">
                <img src="../src/assets/services-2_orig.png" class="d-inline mr-2" alt="">
                <img src="../src/assets/services-3_orig.png" class="d-inline" alt="">
            </div>

            <h1 class="h1">YOUR EXPERIENCE IS OUR GUARANTEE</h1>
            <p class="lie mt-3">Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with more than one paragraph for ​better readability.</p>
    </section>


    <script src="../src/styles/fontawesome-free-5.15.1-web/js/solid.min.js"></script>
    <script src="../src/scripts/bootstrap.min.js"></script>
    <script src="../src/scripts/jquery-3.4.1.min.js"></script>
    <script src="../src/scripts/script.js"></script>
</body>
</html>
