<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updates</title>
    <link rel="stylesheet" href="../src/styles/all.min.css">
    <link rel="stylesheet" href="../src/styles/font-awesome.min.css">
    <link rel="stylesheet" href="../src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../src/styles/style.css">
</head>
<body>

    <nav>
        <img src="../src/assets/southcorner-logo.png" class="d-block mx-auto my-4" alt="">
        <div>
            <ul class="nav-links text-center border py-2 mb-0">
                <li><a href="index.html">HOME</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="updates.html">UPDATES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <section class="blog">
      <h1 class="h1 mt-5 mb-3">MEET CARTER AND SAM-O</h1>
      <span class="text-muted border-bottom pb-3 d-block">9/14/2016</span>
      <img src="../src/assets/carter-and-samo_orig.png" class="img-fluid" alt="">
      <p class="text-muted my-5">Edit this text to create your own blog post. To edit, simply click directly on the text. Break up your text with more than one paragraph for better readability. Add images, page breaks, and links to complete your blog story.</p>
      <p class="text-muted my-5">Edit this text and tell your site visitors who you are. To edit, simply click directly on the text and add your own words. Use this text to go into more detail about your company. Make sure to include information about how your company came to be. A strong “About” page helps establish credibility and professionalism and lets the visitor know more about you.</p>
      <p class="text-muted my-5">Visitors want to know more about a company. Make this text focused, direct, and informative. Tell the users how the company was started, what the team looks like, and some of your core values.</p>
    </section>

    <script src="../src/styles/fontawesome-free-5.15.1-web/js/solid.min.js"></script>
    <script src="../src/scripts/bootstrap.min.js"></script>
    <script src="../src/scripts/jquery-3.4.1.min.js"></script>
    <script src="../src/scripts/script.js"></script>
</body>
</html>
